<div class="container">
  <h1>Show Course</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to fa_icon("pencil"), edit_course_path(@course), class: "btn btn-success", role: "button" %>
        <%= link_to fa_icon("arrow-left"), courses_path, class: "btn btn-secondary", role: "button" %>
      </div>
    </div>
  </div>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @course.name %></dd>
    <dt>Description:</dt>
    <dd><%= @course.description %></dd>
    <dt>Objective:</dt>
    <dd><%= @course.objective %></dd>
    <dt>Reason why:</dt>
    <dd><%= @course.reason_why %></dd>
  </dl>
</div>


<% if @course.lessons.any? %>
  <% @course.lessons.each do |lesson| %>
    <li><%= lesson.name %></li>
  <% end %>
<% else %>
  No Lessons
<% end %>
