<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Smart R Us" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "School of life" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :styles %>
  </head>
  <body>
    <header>
      <%= render "navigation" %>
      <%= render "flash_messages" %>
    </header>

    <main role="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render "footer" %>
    </footer>

    <%= yield :scripts %>
  </body>
</html>
